input {
  border: 1px solid black;
  padding: 5px;
  border-radius: 8px;
  margin: 5px;
}
.MainForm {
  margin: 20px 50px 20px 50px;
  padding: 5px 80px;
  border: 1px solid black;
  position: relative;
  background-color: darkcyan;
}
.FormComponent {
  display: flex;
  flex-direction: row;
}
.DownloadButton {
  margin: 400px 20px 50px 20px;
}
.download {
  height: 10%;
  width: 100%;
  background-color: green;
  border-radius: 15px;
  color: white;
}
.submit {
  height: 30px;
  width: 30%;
  background-color: green;
  border-radius: 15px;
  color: white;
}
